<%
let prev = next = null;
if (page.prev) {
   prev = {
      title: page.prev.title,
       url: url_for(page.prev.canonical_path)
   };
} 
if (page.next) {
   next = {
       title: page.next.title,
       url: url_for(page.next.canonical_path)
   };
}
let content = page.content.replace(/<a\s*?href\s*=\s*['"]([^'"]+)['"]\s*?class\s*?=\s*['"]header-anchor['"].*?<\/a>/g, 
        "<a href=\"#$1\" class=\"header-anchor\">#</a>");
%>
window.ARTICLE_DATA = {
    title: "<%- page.title %>",
    date: "<%- page.date.format("YYYY/MM/DD HH:mm:ss") %>",
    content: <%- JSON.stringify(content.split("\n")) %>,
    prev: <%- JSON.stringify(prev) %>,
    next: <%- JSON.stringify(next) %>
};