<!DOCTYPE html>
<html>
<head>
    <%- partial('_partial/head') %>
</head>
<body>
<script type="application/javascript">
    <%
     // 嵌入导航   
    let menuItems = site.data.category;
    let layout;
    if (page.layout) {
        layout = page.layout;
    } else if (page.title) {
        layout = "post";
    } else if (page._isBlogList) {
       layout = "blog";
    }
    if (layout == "post") { %>
    <%- partial("_partial/injectPostData") %>
    <%
    } else if (layout == "manual") { %>
    <%- partial("_partial/injectManualData")%>
    <%
    } else if (layout == "blog") { %>
    <%- partial("_partial/injectBlogListData")%>
    <%} else if (layout == "index") { %>
    <%- partial("_partial/injectIndexData") %>
    <%} %>
    window.SITE_CATEGORIES = <%- JSON.stringify(menuItems)%>
</script>
<div class="uk-offcanvas-content">
    <div id="header-wrapper" class="uk-container uk-margin-remove uk-container-expand site-header" uk-sticky="show-on-up: true; animation: uk-animation-slide-top;"></div>
    <%- body %>
    <div id= "footer-wrapper"></div>
    <div id="offcanvas-push" uk-offcanvas="mode: slide; overlay: true">
        <div class="uk-offcanvas-bar" id = "sidebar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <div class="menu-container">
                <%- partial("_partial/injectSiteMenu") %>
                
                <%
                if (layout == "manual") { %>
                
                <%
                } else if (layout == "about") { %>
                <ul class = "uk-text-left extra-items uk-width-1-1">
                    <li class="uk-width-1-1"><a href = "/about/changelog.html">Changelog</a></li>
                </ul>
                <%} %>
               
            </div>
        </div>
    </div>
</div>
</body>
</html>