<%
let content = page.content.replace(/<a\s*?href\s*=\s*['"]([^'"]+)['"]\s*?class\s*?=\s*['"]header-anchor['"].*?<\/a>/g,
        "<a href=\"#$1\" class=\"header-anchor\">#</a>");
let catalog = get_manual_catalog(page, config, site);
%>
<div id="container" style="width: 100%">
    <div class="uk-container uk-margin-small-top uk-margin-small-bottom manual-page-container">
        <div class="manual-container uk-flex uk-flex-left">
            <div class="catalog uk-visible@m">
                <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: false">
                    <% for(let i in catalog) {
                       let parent = catalog[i];
                        let titleCls = "";
                        if (parent.children && parent.children.length != 0) {
                            titleCls = "uk-parent";
                            if (parent.isOpen) {
                                titleCls += " uk-open"
                            }
                        }
                    %>
                    <li class="<%- titleCls %>">
                        <a><%- parent.text %></a>
                        <% if (parent.children && parent.children.length != 0) {%>
                        <ul class="uk-nav-sub">
                            <% for (let j in parent.children) { 
                                let item = parent.children[j];
                                let cls = "";
                                if (item.isActive) {
                                    cls = "uk-active";
                                }
                            %>
                            <li class="<%- cls %>"><a href="<%- item.url %>"><%- item.text %></a></li>
                            <% } %>
                        </ul>
                        <% } %>
                    </li>
                    <% } %>
                </ul>
            </div>
            <div class="uk-width-expand manual-doc-container">
                <h1 class="uk-article-title manual-title"><%- page.title %></h1>
                <div class="uk-article manual-content uk-margin-medium-bottom uk-text-break">
                    <%- content %>
                </div>
                <div id="SOHUCS" ></div>
                <script type="text/javascript">
                    (function(){
                        var appid = 'cythpQTHy';
                        var conf = 'prod_d0afdf75574bac597b6f6d02cf698bd1';
                        var width = window.innerWidth || document.documentElement.clientWidth;
                        if (width < 960) {
                            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://qn.apkfuns.com/changyan/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
            </div>
        </div>
    </div>
</div>
<script>
   $(function ()
   {
      $(document).ready(function() {
         $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
         });
      });
   });
</script>